@model ShoppingCart

<div class="thumbnail">
    <div class="content">
        <h2>Your cart is empty righ now. Why don't you 
        <a asp-controller="Home" asp-action="Index">go shopping</a></h2>
    </div>
</div>